Faculdade/Faculdade/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Faculdade/Faculdade/obj/Debug/Faculdade.csproj.AssemblyReference.cache
Faculdade.csproj.AssemblyReference.cache
DesignTimeResolveAssemblyReferencesInput.cache
